* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.main {
    background-color: pink;
    height: 100vh;
    width: 100%;
}

.main-header {
    background-color: #eee;
    padding: 30px;
}

.main-header > ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-header > ul > li {
    outline: none;
    text-decoration: none;
    list-style: none;
    font-size: 2em;
    cursor: pointer;
}

.counter-parent {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.counter-parent h3 {
    font-size: 3em;
}

.counter-parent button {
    background: transparent;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10px;
}